<section
  id="banner-about"
  class="pt-200 pb-35 bg_cover w-100"
  style="background-image: url(../../assets/img/327216.png)"
>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="banner-content">
          <h3>A propos</h3>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="/">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                <a>A propos</a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about-content" class="p-t-40">
  <div class="container">
    <div class="row">
      <h1 class="text-center">Qui sommes nous ?</h1>
      <p>
        <strong>Cammy Water </strong>
        lorem ipsum lorem lorem ipsumlorem ipsum lorem lorem ipsum lorem ipsum
        lorem lorem ipsum lorem ipsum lorem lorem ipsumlorem ipsum lorem lorem
        ipsum lorem ipsum lorem lorem ipsum
      </p>
      <p>
        lorem ipsum lorem lorem ipsumlorem ipsum lorem lorem ipsum lorem ipsum
        lorem lorem ipsum lorem ipsum lorem lorem ipsumlorem ipsum lorem lorem
        ipsum lorem ipsum lorem lorem ipsum lorem ipsum lorem lorem ipsumlorem
        ipsum lorem lorem ipsum lorem ipsum lorem lorem ipsum
      </p>
      <p>
        lorem ipsum lorem lorem ipsumlorem ipsum lorem lorem ipsum lorem ipsum
        lorem lorem ipsum lorem ipsum lorem lorem ipsumlorem ipsum lorem lorem
        ipsum lorem ipsum lorem lorem ipsum
      </p>
      <p>
        lorem ipsum lorem lorem ipsumlorem ipsum lorem lorem ipsum lorem ipsum
        lorem lorem ipsum lorem ipsum lorem lorem ipsumlorem ipsum lorem lorem
        ipsum lorem ipsum lorem lorem ipsum lorem ipsum lorem lorem ipsumlorem
        ipsum lorem lorem ipsum lorem ipsum lorem lorem ipsum
      </p>
    </div>
  </div>
</section>
