<!-- start navbar -->

<nav class="navbar navbar-expand-md navbar-light custom-nav">
  <div class="container">
    <a class="logo navbar-brand" href="/">
      <img
        class="navbar-brand"
        width="80"
        height="40"
        src="../../assets/img/logo-eau.png"
        alt=""
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarReponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">HOME</a>
        </li>
        <li class="nav-bar">
          <a
            routerLink="distribution"
            routerLinkActive="active"
            class="nav-link"
          >
            DISTRIBUTION
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about-us" routerLinkActive="active"
            >ABOUT-US</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact-us" routerLinkActive="active"
            >CONTACT-US</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- end navbar-->
