nav {
  ul {
    li {
      a {
        font-size: 1.2em;
        font-style: normal;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        color: rgba(36, 77, 189, 0.8);
      }
    }
  }
  .custom-nav {
  }
}
