section#contact-banner {
  background: no-repeat cover center center;
  padding-top: 200px;
  padding-bottom: 60px;
  width: 100%;
  .pt-200 {
    padding-top: 200px;
  }
  .pb-35 {
    padding-bottom: 35px;
  }
  .bg_cover {
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .banner-content h3 {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    color: #0869b0;
    text-transform: uppercase;
    padding-left: 25px;
  }
  .banner-content h3::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #0869b0;
    top: 0;
    left: 0;
  }
  ol .breadcrumb {
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    padding: 0px 0px 0px 25px !important;
    margin-bottom: 1rem;
    list-style: none;
    background-color: transparent;
    border-radius: 0.25rem;
    li {
      a {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        font-size: 16px;
        color: #0869b0;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
}

section#contact-content {
  margin-top: 15px;
  padding-top: 20px;
  padding-bottom: 15px;
}

section#mp {
  margin-top: 10px;
  padding-top: 50px;
}
