.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}
.alert-box {
  position: fixed;
  top: 40vh;
  left: 37vw;
  width: 20vw;
  height: 17vh;
  padding: 10px;
  z-index: 100;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  transition: cubic-bezier(0.165, 0.84, 0.44, 0.8);
  border-radius: 2% 2% 2% 2%;
  text-align: center;
}
.alert-box-actions {
  width: 100px;
  margin: auto;

  #btn-alert {
    margin-top: 15px;
  }
}

@media (max-width: 576px) {
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 50;
  }
  .alert-box {
    position: fixed;
    top: 30vh;
    left: 27vw;
    width: 50vw;
    height: 20vh;
    padding: 10px;
    z-index: 100;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    border-radius: 2% 2% 2% 2%;
    text-align: center;
  }
  .alert-box-actions {
    width: 80px;
    margin: auto;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}
