<section
  id="page-banner"
  style="background-image: url(../../assets/img/327216.png)"
  class="pt-200 pb-35 bg_cover w-100"
>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="banner-content">
          <h3>Distribution</h3>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="/">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                <a>Distribution</a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="distribution-content" class="p-t-50 p-b-50">
  <div class="container">
    <h1 class="text-center">Nos moyens de distributions</h1>
    <div class="row p-t-50">
      <div data-aos="fade-left" class="col-sm-12 col-md-12 col-lg-8">
        <p>
          lorem ipsum lorem lorem ipsumlorem ipsum lorem lorem ipsum lorem ipsum
          lorem lorem ipsum lorem ipsum lorem lorem ipsumlorem ipsum lorem lorem
          ipsum lorem ipsum lorem lorem ipsum
        </p>
        <p>
          lorem ipsum lorem lorem ipsumlorem ipsum lorem lorem ipsum lorem ipsum
          lorem lorem ipsum lorem ipsum lorem lorem ipsumlorem ipsum lorem lorem
          ipsum lorem ipsum lorem lorem ipsum lorem ipsum lorem lorem ipsumlorem
          ipsum lorem lorem ipsum lorem ipsum lorem lorem ipsum
        </p>
      </div>
      <div data-aos="fade-up" class="col-sm-12 col-md-12 col-lg-4">
        <img
          src="../../assets/img/car-delivery.png"
          class="img-responsive"
          alt=""
        />
      </div>
    </div>
    <div class="row mb-30">
      <div
        data-aos="fade-zoom-out"
        class="col-xl-6 col-lg-6 col-md-6 col-sm-12 order-2 order-xl-1 order-lg-1 order-md-1 order-sm-2"
      >
        <img src="../../assets/img/car-delivery.png" alt="" />
      </div>
      <div
        data-aos="fade-zoom-in"
        class="col-xl-6 col-lg-6 col-md-6 col-sm-12 order-1 order-x1-1 order-lg-1 order-md-1"
      >
        <p>
          lorem ipsum lorem lorem ipsumlorem ipsum lorem lorem ipsum lorem ipsum
          lorem lorem ipsum lorem ipsum lorem lorem ipsumlorem ipsum lorem lorem
          ipsum lorem ipsum lorem lorem ipsum
        </p>
        <p>
          lorem ipsum lorem lorem ipsumlorem ipsum lorem lorem ipsum lorem ipsum
          lorem lorem ipsum lorem ipsum lorem lorem ipsumlorem ipsum lorem lorem
          ipsum lorem ipsum lorem lorem ipsum lorem ipsum lorem lorem ipsumlorem
          ipsum lorem lorem ipsum lorem ipsum lorem lorem ipsum
        </p>
      </div>
    </div>
  </div>
</section>

<section id="distri-collab">
  <div class="container">
    <div class="row">
      <h3>Voulez-vous devenir un distributeur agree de cammyWater ?</h3>
      <div class="col-sm-12 col-md-12 col-lg-8">
        <p>
          lorem ipsum lorem lorem ipsumlorem ipsum lorem lorem ipsum lorem ipsum
          lorem lorem ipsum lorem ipsum lorem lorem ipsumlorem ipsum lorem lorem
          ipsum lorem ipsum lorem lorem ipsum lorem ipsum lorem lorem ipsumlorem
          ipsum lorem lorem ipsum lorem ipsum lorem lorem ipsum
        </p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4">
        <a routerLink="/contact-us" mat-raised-button class="btn btn-primary">
          Cliquer ici pour nous contacter
        </a>
      </div>
    </div>
  </div>
</section>
