<section id="page-banner" class="pt-200 pb-35 bg_cover w-100">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="banner-content">
          <h3>Distribution</h3>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="home">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                <a routerLink="distribution">Distribution</a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="distribution-content" class="p-t-50 p-b-50">
  <div class="container">
    <h1 class="text-center">Nos moyens de distributions</h1>
    <div class="row p-t-50">
      <div class="col-sm-12 col-md-12 col-lg-8">
        <p>
          lorem ipsum lorem lorem ipsumlorem ipsum lorem lorem ipsum lorem ipsum
          lorem lorem ipsum lorem ipsum lorem lorem ipsumlorem ipsum lorem lorem
          ipsum lorem ipsum lorem lorem ipsum
        </p>
        <p>
          lorem ipsum lorem lorem ipsumlorem ipsum lorem lorem ipsum lorem ipsum
          lorem lorem ipsum lorem ipsum lorem lorem ipsumlorem ipsum lorem lorem
          ipsum lorem ipsum lorem lorem ipsum lorem ipsum lorem lorem ipsumlorem
          ipsum lorem lorem ipsum lorem ipsum lorem lorem ipsum
        </p>
      </div>
      <div class="col-sm12 col-md-12 col-lg-4">
        <img
          src="../../assets/img/car-delivery.png"
          class="img-responsive"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
