<div class="container">
  <div class="row p-t-30 m-b-20">
    <div class="col-sm-12 col-md-12 col-lg-4">
      <img src="../../assets/img/404.png" class="img-four" alt="" />
    </div>
  </div>
  <div class="row p-t-30 m-b-20">
    <div class="col-sm-8 col-md-8 col-lg-8">
      <h1>Cette page n'existe pas</h1>
      <p>
        La page que vous recherchez semble introuvable. Sans détour, il n'est
        point de voyage... Retournez a la page d'acceuil
      </p>
      <button mat-raised-button class="btn btn-primary" (click)="onHome()">
        Back to home
      </button>
    </div>
  </div>
</div>
