.img-four {
  display: block;
  margin: auto;
  width: 600px;
  height: 330px;
}
.p-b-30 {
  padding-bottom: 30px;
}
.m-b-20 {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .img-four {
    display: block;
    width: 350px;
    height: 250px;
    margin: auto;
  }

  .p-b-30 {
    padding-bottom: 15px;
  }
  .m-b-20 {
    margin-bottom: 15px;
  }
}
